body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
}

.content {
	/*Remove 2em to account for padding */
	width: 58rem;
}

.top-navigation {
	background-color:#fff;
	width: 100%;
	border-bottom: 1px solid #ddd;

}

.top-navigation > .content {
	height: 4.375rem;
	padding: 0px 15px;
	margin: 0 auto;
}

.links {
	float: right;
}

.links > li {
	display: inline-block;
	border: 3px solid;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	font-size: 1em;
	color: #838994;
	letter-spacing: 0.03em;
}

a: link{
	color: gray;
}

.active {
	color: dark-gray;
}