html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-font-smoothing: inherit;
}

body {
	background-color: LightGray;
}

div {
	/*border: 1px solid #fff;*/
}

.content {
	margin-left:auto;
	margin-right:auto;

}

.top-navigation {
	background-color:#fff;
	width: 100%;
	/*border-bottom: 1px solid #ddd;*/
	margin: 0;
}

.top-navigation > .content {
	height: 4.375rem;
	padding: 0px 15px;
	margin: 0 auto;
	width: 60rem;
	border: 1px solid #fff;
}

.links {
	float: right;
	padding-top:0;
	padding-bottom:0;
	margin: 25px 0 25px 0;
}

.links > li {
	display: inline-block;
	border: 0px solid;
	font-family: 'Roboto', "Helvetica Neue", sans-serif;
	font-size: 1em;
	font-weight: 500;
	color: #838994;
	transition: color 0.25s linear;
	letter-spacing: 0.03em;
	margin: 0 0.5em 0 0.5em;
}

.links > .active {
	color: #4c5058;
	font-weight: 500;
}

.active:hover {

}

li:hover {
	color: #333333;
	font-weight: 500;
	cursor: pointer;
}

#paperclip {
	float: left;
	margin-left: 14px;
}

#hook {
	display: block;
	background-image: url("../images/first-background-copy.jpg");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height:45.938rem;
	width: 100%;
	position: relative;
	text-align: center;
	margin: 0;
}

#hook > .content {
	position: absolute;
	top: 5rem;
	height: 11rem;
	width: 60rem;
	margin: 0 auto;
	padding: 0 0.938rem;
}

h1 {
	color:#fff;
}

h2 {
	color:#fff;
}

h3 {
	color:#fff;
}